<app-navbar></app-navbar>
<div>
  <h2>Pedido de Teste</h2>
  <div>
    <label>
      Foi encaminhado pelo saude 24?
      <input [(ngModel)]="requestData.encaminhado" type="checkbox" /> </label
    ><br />
    <label>
      É uma pessoa de risco?
      <input [(ngModel)]="requestData.pessoaRisco" type="checkbox" /> </label
    ><br />
    <label>
      Trabalha num local de risco?
      <input [(ngModel)]="requestData.trabalhoRisco" type="checkbox" /> </label
    ><br />
  </div>
  <button (click)="addRequest()">Enviar Pedido</button>
</div>
