<app-navbar></app-navbar>
<div class="content">
  <h2>Lista de utilizadores</h2>
  <mat-list *ngFor="let u of users">
    <mat-list-item class="item"
      >Cartão de Cidadão: {{ u.cartaoCidadao }}</mat-list-item
    >
    <mat-list-item class="item">Estado de Saúde: {{ u.estado }}</mat-list-item>
    <mat-list-item class="item"> Sexo: {{ u.sexo }}</mat-list-item>
    <mat-list-item class="item"> Idade: {{ u.idade }}</mat-list-item>
    <mat-list-item class="item"> Role: {{ u.role }}</mat-list-item>
    <mat-list-item>
      <button mat-raised-button>
        <a routerLink="/user-profile/{{ u._id }}">Ver perfil</a>
      </button></mat-list-item
    >
    <mat-divider class="separator"></mat-divider>
  </mat-list>
</div>
