<app-navbar></app-navbar>
<div class="content">
  <h2>Criar Admin</h2>
  <div>
    Identificador do Administrador
    <br />
    <input [(ngModel)]="adminData.cartaoCidadao" required /> <br />

    Password
    <br />
    <input type="password" [(ngModel)]="adminData.password" /> <br />
    Idade
    <br />
    <input type="number" [(ngModel)]="adminData.idade" /> <br />

    Sexo
    <input type="radio" [(ngModel)]="adminData.sexo" value="Masculino" />
    Masculino
    <input type="radio" [(ngModel)]="adminData.sexo" value="Feminino" />
    Feminino
  </div>
  <button mat-raised-button (click)="addAdmin()">Criar</button>
  <p *ngIf="error">{{ error }}</p>
  <p *ngIf="success">{{ success }}</p>
</div>
