<app-navbar></app-navbar>
<div class="content">
  <h2>Lista de Pedidos</h2>
  <mat-list *ngFor="let r of requests">
    <mat-list-item class="item">ID: {{ r._id }}</mat-list-item>
    <mat-list-item class="item">
      Estado do Pedido: {{ r.estadoPedido }}</mat-list-item
    >
    <mat-list-item class="item" *ngIf="r.dataExame">
      Data do Exame: {{ r.dataFormatada }}</mat-list-item
    >
    <mat-list-item class="item" *ngIf="r.resultado">
      Resultado: {{ r.resultado }}</mat-list-item
    >
    <mat-list-item>
      <button mat-raised-button>
        <a routerLink="/request-details/{{ r._id }}">Ver Pedido</a>
      </button></mat-list-item
    >
    <mat-divider class="separator"></mat-divider>
  </mat-list>
</div>
