<app-navbar></app-navbar>
<div class="content" *ngIf="paciente && request">
  <h2>Informação do Paciente</h2>
  <p>
    Cartão de Cidadão:
    {{ paciente.cartaoCidadao }}
  </p>
  <p>Estado:{{ paciente.estado }}</p>
  <h2
    *ngIf="request.encaminhado || request.pessoaRisco || request.trabalhoRisco"
  >
    Outras informações
  </h2>
  <p *ngIf="request.encaminhado">Encaminhado pela saude 24</p>
  <p *ngIf="request.pessoaRisco">Pessoa de Risco</p>
  <p *ngIf="request.trabalhoRisco">Trabalha num local de risco</p>
  <h2>Historico do Utilizador</h2>
  <app-user-historic [id]="paciente._id"></app-user-historic>
  <h2>Estado do pedido</h2>
  <p>{{ request.estadoPedido }}</p>
  <h2>Data do exame</h2>
  <div *ngIf="!request.dataExame">
    <p>Inserir data do Exame</p>
    <input
      type="date"
      [(ngModel)]="requestData.dataExame"
      placeholder="Data do teste"
    />
    <br />
    <button mat-raised-button (click)="scheduleExam()">
      Agendar Teste
    </button>
  </div>
  <p>{{ request.dataExame }}</p>

  <div *ngIf="request.dataExame && !request.resultado">
    <h2>Resultado</h2>
    <p>Inserir Resultado</p>

    <input type="radio" [(ngModel)]="requestData.resultado" value="Negativo" />
    Negativo
    <input type="radio" [(ngModel)]="requestData.resultado" value="Positivo" />
    Positivo

    <br />
    <br />

    <button mat-raised-button (click)="setResult()">
      Confirmar resultado
    </button>
  </div>
  <h2 *ngIf="request.resultado">Resultado</h2>
  <p class="result">{{ request.resultado }}</p>
</div>

<p *ngIf="!paciente" class="deleted">
  Este pedido pertence a um utilizador que foi apagado
</p>
