<div class="flex-row">
  <div class="card-content">
    <mat-card-subtitle>Utilizadores Registados</mat-card-subtitle>
    <mat-card-content>{{ registeredUsers }}</mat-card-content>
  </div>

  <div class="card-content">
    <mat-card-subtitle>Total de Pedidos</mat-card-subtitle>
    <mat-card-content>{{ totalTests }}</mat-card-content>
  </div>

  <div class="card-content">
    <mat-card-subtitle>Média de Testes Por Utilizador</mat-card-subtitle>
    <mat-card-content>{{ average }}</mat-card-content>
  </div>
</div>
